body 
{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#google-map
{
    position: absolute;
    top: 100px;
    bottom: 0px;
    width: 100%;
    z-index: 1;
}

#navigation
{
    position: absolute;
    background-image: url("Images/NavBg.fw.png");
    background-repeat: repeat-x;   
    top: 0px;
    left: 0;
    right: 0;
    height: 120px;
    margin-top: 0px;
    padding: 0px;
    z-index: 2;
    text-align: center;
}
#navigation ul {
    list-style: none;
    height: 100px;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

#navigation li {
        height: 100px;
        width: 200px;
        padding: 0;
        margin: auto;
        display: inline-block;
}

#navigation li#settings
{
    background-repeat: no-repeat;
    background-image: url(Images/Buttons/settings_idle.fw.png);
    width: 200px;
}

#navigation li#settings:hover
{
    background-repeat: no-repeat;
    background-image: url(Images/Buttons/settings_hover.fw.png);
    width: 200px;
}

    #navigation li#settings ul {
        padding: 0;
        position: absolute;
        top: 48px;
        left: 0;
        width: 150px;
}

#settings-drop
{
    position: relative;
    z-index: 3;
    top: 0;
    width: 500px;
    height: 100px;
    background-color: grey;

}

#navigation li#info{
    background-repeat: no-repeat;
    background-image: url(Images/Buttons/about_idle.fw.png);
    width: 200px;
}

#navigation li#info:hover
{
    background-repeat: no-repeat;
    background-image: url(Images/Buttons/about_hover.fw.png);
    width: 200px;
}

#navigation li#help{
    background-repeat: no-repeat;
    background-image: url(Images/Buttons/help_idle.fw.png);
    width: 200px;
}

#navigation li#help:hover
{
    background-repeat: no-repeat;
    background-image: url(Images/Buttons/help_hover.fw.png);
    width: 200px;
}


#navigation li#logo
{
    background-repeat: no-repeat;
    background-image: url("Images/Logo.fw.png");
    width: 355px;
}