body 
{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#google-map
{
    position: absolute;
    top: 100px;
    bottom: 0px;
    width: 100%;
    z-index: 1;
}

#navigation
{
    position: absolute;
    background-image: url("Images/NavBg.fw.png");
    background-repeat: repeat-x;   
    top: 0px;
    left: 0;
    right: 0;
    height: 120px;
    margin-top: 0px;
    padding: 0px;
    z-index: 2;
    text-align: center;
}

